@charset "utf-8";
/* CONTACT */

.fiv_right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fiv_tit {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 8rem;
  font-weight: normal;
  text-shadow: -3px -1px #fff, 0 8px 9px #8ecfcf;
}

.fiv_left {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fiv_tit1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 3.5rem;
}
.fiv_con {
  font-size: 20px;
  line-height: 2.5rem;
}
/* .fiv_con a:hover {
  color: #54bdbd;
} */

.fiv_con button {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #d0ffff;
  border-radius: 20px;
}
.fiv_con button a {
  font-size: 16px;
  color: #444;
}
.fiv_con button:hover {
  background-color: #bffdfd;
}
