@charset "utf-8";

.ecdebb {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two_tit {
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 40%;
  border-radius: 30% 30px 20px 20px;
  background-color: #3d7191;
  font-size: 8rem;
  font-weight: bold;
  text-shadow: -1px -1px #fff, 2px 2px #484848;
}
