@charset "utf-8";
/* MY SKILLS */

.thr_right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thr_tit {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 8rem;
  font-weight: normal;
  text-shadow: -3px -1px #fff, 0 8px 9px #8ecfcf;
}
.thr_left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.progress_items {
  width: 100%;
  height: auto;
  margin-left: 5%;
}
.thr_left img {
  width: 80px;
  height: 80px;
}
.item:nth-child(4) {
  clear: both;
}
