@charset "utf-8";

.fiv_right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fiv_tit {
  position: relative;
  width: 80%;
  height: 20%;
  font-size: 8rem;
  font-weight: bold;
  text-shadow: -1px -1px #fff, 2px 2px #484848;
}
