@charset "utf-8";

.thr_right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thr_tit {
  position: relative;
  width: 60%;
  height: 40%;
  background-color: rgb(161, 17, 94);
  font-size: 8rem;
  font-weight: bold;
  text-shadow: -1px -1px #fff, 2px 2px #484848;
}
