@charset "utf-8";

#page1 {
  background-color: #d0ffff;
  text-align: center;
}
.box {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 98%;
  height: 98%;
  border-radius: 20px;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #d0ffff 0%, #aafcfc 100%);
  transform: translate(-50%), -50%;
}
.main_tit {
  position: relative;
  width: 98%;
  height: 50%;
  top: 25%;
  animation: txtAni 5s infinite 0s;
  color: #d0ffff;
  text-shadow: 0 8px 9px #8ecfcf, 0px -2px 1px #fff;
}
@keyframes txtAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
