@charset "utf-8";

.two_left {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two_tit {
  position: relative;
  width: 60%;
  height: 40%;
  font-size: 8rem;
  text-shadow: -3px -1px #fff, 0 8px 9px #8ecfcf;
}

.two {
  position: relative;
  width: 50%;
  height: 20%;
  margin-left: 5%;
  top: 28%;
}
.two_tit1,
.two_tit2,
.two_tit3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
.tools img {
  width: 50px;
  height: 50px;
}
