@charset "utf-8";
/* ABOUT */

.two_left {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two_tit {
  position: relative;
  width: 60%;
  height: auto;
  font-weight: normal;
  font-size: 8rem;
  text-shadow: -3px -1px #fff, 0 8px 9px #8ecfcf;
}
.two_right {
  overflow: hidden;
}
.two {
  position: relative;
  width: 100%;
  margin-left: 5%;
  top: 22%;
}
.two_tit1,
.two_tit2,
.two_tit3 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}
.tools img {
  width: 50px;
  height: 50px;
}
/* .exp a:hover {
  color: #54bdbd;
} */
.exp button {
  padding: 10px 20px;
  display: block;
  background-color: #d0ffff;
  border-radius: 10px;
  margin-bottom: 5px;
}
.exp button:hover {
  background-color: #bffdfd;
}
.exp {
  line-height: 1.5rem;
  margin-bottom: 30px;
}
.exp2 {
  margin-bottom: 30px;
}
