@charset "utf-8";
.fo_left {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fo_tit {
  margin: 0 auto;
  position: relative;
  width: 50%;
  height: 60%;
  font-size: 8rem;
  text-shadow: -3px -1px #fff, 0 8px 9px #8ecfcf;
}
.list {
  position: relative;
  width: 50%;
  height: 15%;
  margin-left: 5%;
  top: 30%;
}
.for_tit {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.for_con {
  margin-bottom: 5px;
}
